.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto Mono', monospace;
}
.header{
    position: fixed;
    width: 100%;
    display: flex;
    background-color: #2F2D2E;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
}
.header .logo{
    width: 45px;
    height: 45px;
    margin-left: 5px;
}
.header .head-ul{
    display: flex;
    list-style: none;
}
.head-ul .head-item a{
    text-decoration: none;
    color: #e8f1f2;
    font-size: 1.8rem;
    margin-right: 15px;
}
.aside{
    height: 100vh;
    width: 20%;
    background-color: #006494;
    color: #e8f1f2;
}
.aside .contenido{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    top: 60px;
}
.aside .contenido .contenido-item:hover{
    background-color: #13293d;
    cursor: pointer;
}
.contenido .contenido-item{
    font-size: 1.5rem;
    padding: 15px 5px;
    list-style: none;
    align-items: center;
}
.contenido .contenido-item .enlace-contenido{
    display: flex;
    color: #e8f1f2;
    justify-content: space-between;

}